@import './variables.css';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  max-width: 80%;
  padding: var(--spacing-lg);

}

.section {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;;
  min-height: 500px;
  flex-direction: column;
  padding: var(--spacing-lg);

}

.section h1 {
  margin-bottom: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  font-size: 1.3rem;
  border-bottom: 1px solid var(--primary-color-dark)
}

.section h2 {
  font-size: 1.5rem;
  color: var(--primary-color-dark);
  margin: 0;
  padding: 0;
}

.section h3 {
  font-size: 1rem;
  color: var(--secondary-color);
  margin-bottom: var(--spacing-sm) 0;
  padding: 0;
}

.imageContainer {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: var(--spacing-sm);
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.favoriteCocktails {
  display: flex;
  justify-content: flex-start;;
  align-items: flex-start;;
  flex-direction: column;
}

.recipeLink {
  margin-bottom: var(--spacing-sm);
  transition: 250ms
}

.recipeLink:hover {
  color: var(--primary-color);
  transition: 250ms
}

.deleteButton {
  display: flex;
  align-items: center;
  padding: var(--spacing-sm);
  margin-top: var(--spacing-md);
  border: none;
  cursor: pointer;
  transition: var(--transition);
  border: 1px solid transparent;
  background-color: var(--primary-color);
  font-size: 1rem;
  color: black;
  transition: 500ms;

}

.clicked {
  background-color: var(--primary-color-dark);
  cursor: default;
}

.deleteIcon {
  color: black;
  margin-right: var(--spacing-sm)
}

.deleteIconclicked {
  color: black;
  margin-right: var(--spacing-sm);
  opacity: 0.8;
}



.linkButton {
  background: none;
  border: none;
  color: var(--white);
  /* Use your theme color */
  cursor: pointer;



}

.linkButton:hover {
  color: var(--primary-color);

}

.confirmationDialog {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  margin-top: var(--spacing-sm);
  border-radius: var(--border-radius-md);
  animation: fadeIn 500ms;
}

.confirmationDialog p {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  margin-right: var(--spacing-md);
}

.confirmButton,
.cancelButton {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-sm);
  transition: var(--transition);
}

.confirmButton,
.cancelButton {
  background-color: transparent;
  color: var(--text-color);
  margin-right: var(--spacing-sm);
}

.confirmButton:hover,
.cancelButton:hover {
  background-color: var(--primary-color);
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.deletedMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  margin-top: var(--spacing-sm);

  color: var(--primary-color);
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column; /* Stack sections vertically */
    padding: var(--spacing-md); /* Reduce padding */
    max-width: 100%; /* Full width for mobile */
    overflow-x: hidden;
  }

  .section {
    width: 100%; /* Full width for sections */
    padding: var(--spacing-sm); /* Reduce padding */
    margin: 0 0; /* Margin between sections */
    margin-bottom: var(--spacing-sm);
    min-height: auto; /* Remove fixed min-height */
    border-bottom: 1px solid var(--primary-color-dark);
  }

  .section:last-child{
    border: none;
  }

  .section h1 {
    font-size: 1.1rem; /* Adjust font size for mobile */
    border: none;
  }

  .section h2 {
    font-size: 1.3rem; /* Adjust font size for mobile */
    margin-bottom: var(--spacing-sm);
  }

  .section h3 {
    font-size: 0.9rem; /* Adjust font size for mobile */
    margin-bottom: var(--spacing-xs);
  }

  .imageContainer {
    height: 200px; /* Reduce image height for mobile */
    margin-bottom: var(--spacing-md); /* Adjust margin */
  }

  .deleteButton {
    font-size: 0.9rem; /* Adjust button size */
    padding: var(--spacing-xs); /* Adjust padding */
    margin-top: var(--spacing-sm); /* Adjust margin */
  }

  .linkButton {
    font-size: 0.9rem; /* Adjust font size for mobile */
  }

  .confirmationDialog {
    width: 100%;
    flex-direction: row; /* Stack confirmation elements vertically */
    gap: var(--spacing-sm); /* Add space between elements */
    padding: var(--spacing-sm); /* Reduce padding */
  }

  .confirmButton,
  .cancelButton {
    width: 20%; /* Full width for buttons */
    padding: var(--spacing-xs); /* Adjust padding */
  }

  .deletedMessage {
    flex-direction: column; /* Stack message content vertically */
    padding: var(--spacing-sm); /* Adjust padding */
  
  }

  
  .buttonContainer {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 0.9rem;
  }
  .buttonContainer p {
    margin: 0;
    padding: 0;
    line-height: 0;

  }
}
