.createMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: var(--spacing-lg);
  color: var(--text-color);
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 80vh;
}

.createMenu h1 {
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacing-md);
  color: var(--primary-color);
  text-align: center;
}

.columnsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-lg);
  width: 650px;
  flex-direction: row;
}

.selectedCocktails {
  padding: var(--spacing-lg);
}

.selectedCocktailItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md) 0;
  border-bottom: 1px solid white;
  margin-bottom: var(--spacing-sm);
  min-width: 250px;

}


.buttonsOrder {
  margin-left: var(--spacing-lg);
}

.orderButton {
  background-color: none;
  background: none;
  border: none;
  color: var(--primary-color);
  padding: var(--spacing-xs);
  margin-right: var(--spacing-xs);
  cursor: pointer;
}

.orderButton:disabled {
  opacity: 0.3;
}

.orderButton:last-child {
  margin: 0
}

.inputField {
  width: 100%;
  max-width: 400px;
  padding: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  font-size: var(--font-size-md);
  text-align: center;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  outline: none;
  transition: var(--transition);
  font-family: "EB Garamond";
  font-size: 1.5rem;
}

.inputField:focus {
  border-color: var(--primary-color);
  color: var(--primary-color);

}

.buttonsContainer {
  display: flex;
  gap: var(--spacing-lg)
}

.cocktailSelection {
  margin-bottom: var(--spacing-lg);
  border: 1px solid var(--primary-color-dark);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: var(--spacing-lg);
  user-select: none;
  border-radius: var(--border-radius-lg);

}

h3 {
  margin-bottom: var(--spacing-md);
  font-size: var(--font-size-md);
  color: var(--secondary-color);
  text-align: center;
  width: 100%;
}

.cocktailLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  width: 200px;
  padding: var(--spacing-sm);
  margin: var(--spacing-xs);
  border-radius: var(--border-radius-md);
  border: 1px solid transparent;
  transition: var(--transition);
  cursor: pointer;
  border: 1px solid var(--background-color-light);

}

.cocktailLabel:hover {
  border: 1px solid white;
}

.cocktailCheckbox {
  display: none;
}

.cocktailInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.selectedCocktail {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--primary-color);
  color: black
}

.saveButton,
.viewButton,
.createAnotherButton {
  width: 40%;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: var(--spacing-md) var(--spacing-lg);
  margin: var(--spacing-sm);
  font-size: var(--font-size-md);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: var(--transition);
}

.saveButton:hover,
.viewButton:hover,
.createAnotherButton:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.menuOptions {
  margin-top: var(--spacing-lg);
  display: flex;
  gap: var(--spacing-md);
  flex-wrap: wrap;
  justify-content: center;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .createMenu {
    padding: var(--spacing-md);
  }

  .inputField {
    max-width: 80%;
    text-align: center;
    font-family: "EB Garamond";
    font-size: 1.5rem !important;
  }

  .mobileWrapper {
    border: 1px solid var(--primary-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-lg);
    user-select: none;
    border-radius: var(--border-radius-lg);
    width: 100%;
    margin: var(--spacing-md) 0;
  }

  .cocktailSelection {
    border: none;
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cocktailLabel {
    font-size: var(--font-size-sm);
    border: 1px solid white;
    width: 90%;
  }

  .saveButton,
  .viewButton,
  .createAnotherButton {
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--font-size-sm);
  }

  .menuOptions {
    flex-direction: column;
    gap: var(--spacing-sm);
  }
}