.buttonComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm) var(--spacing-lg);
  margin-top: var(--spacing-md);
  border-radius: var(--spacing-lg);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: var(--primary-color);
  transition: 250ms;
}

.buttonComponent a {
  color: inherit;
  text-decoration: none;
}

.buttonComponent:hover {
  background-color: var(--primary-color);
  color: black;
  transition: 250ms;
}

.buttonIcon {
  color: inherit;
  margin-right: var(--spacing-sm);
}