:root {
  /* Color Palette */
  --primary-color: #ffc107; /* Gold accent */
  --primary-color-lightdark: #d29e01; /* Gold accent */
  --primary-color-dark: #6d5201;
  --secondary-color: #6c757d; /* Example grey */
  --background-color: #121212; /* Dark background */
  --background-color-card: rgb(35 40 45);
  --background-color-light: #4b4b4b; /* Light dark background for contrast */
  --text-color: #ffffff; /* Light text */
  --success-color: #28a745; /* Green for success */
  --warning-color: #ffc107; /* Yellow for warnings */
  --error-color: #dc3545; /* Red for errors */
  --edit-color: rgb(255, 238, 0);
--edit-color-dark: rgb(177, 165, 0);

  /* Spacing */
  --spacing-xs: 4px;  /* Extra small spacing */
  --spacing-sm: 8px;  /* Small spacing */
  --spacing-md: 16px; /* Medium spacing */
  --spacing-lg: 24px; /* Large spacing */
  --spacing-xl: 32px; /* Extra large spacing */
  --spacing-xxl: 40px; /* Extra extra large spacing */

  /* Border Radius */
  --border-radius-sm: 4px; /* Small border radius */
  --border-radius-md: 8px; /* Medium border radius */
  --border-radius-lg: 16px; /* Large border radius */
  --border-radius-full: 50%; /* Full border radius for circles */

  /* Shadows */
  --box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1); /* Small shadow */
  --box-shadow-md: 0 4px 8px rgba(0, 0, 0, 0.2); /* Medium shadow */
  --box-shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.3); /* Large shadow */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* General shadow */

  /* Gradients */
  --gradient-primary: linear-gradient(45deg, #ffc107, #6610f2); /* Primary gradient */
  --gradient-secondary: linear-gradient(45deg, #6c757d, #adb5bd); /* Secondary gradient */

  /* Typography */
  --font-family-base: 'Helvetica Neue', Arial, sans-serif; /* Base font family */
  --font-family-heading: 'Georgia', serif; /* Heading font family */
  --font-size-xs: 12px; /* Extra small font size */
  --font-size-sm: 14px; /* Small font size */
  --font-size-md: 16px; /* Medium font size */
  --font-size-lg: 20px; /* Large font size */
  --font-size-xl: 24px; /* Extra large font size */
  --font-size-xxl: 30px; /* Extra extra large font size */
  
  /* Line Height */
  --line-height-normal: 1.5; /* Normal line height */
  --line-height-tight: 1.25; /* Tight line height */
  --line-height-loose: 1.75; /* Loose line height */

  /* Transition */
  --transition: all 0.3s ease; /* General transition effect */
}
